.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: #000000;
  position: relative;
}

.text-section {
  padding: 40px;
  text-align: center;
  z-index: 2;
  position: relative;
}
.text-section h1 {
  font-size: 3em;
}
.wave {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.wave-top {
  top: -10px;
  transform: rotate(180deg);
}

.wave-bottom {
  bottom: -10px;
}
